<%= form_with(model: wish, local: true) do |form| %>
  <% if wish.errors.any? %>
      <div class="card">
        <div class="card-header bg-danger text-white">
          <%= pluralize(wish.errors.count, "error") %> prohibited this wish from being saved:
      </div>
      <div class="card-body">
        <ul>
        <% wish.errors.full_messages.each do |message| %>
          <li class="card-text"><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= form.label :expense_type %>
      <%= form.collection_select :expense_type_id, ExpenseType.order('name ASC'), :id, :name, {id: :wish_expense_type}, {class: "form-control"} %>
    </div>
  
    <div class="form-group">
      <%= form.label :cost %>
      <%= form.number_field :cost, id: :wish_cost, class: "form-control"%>
    </div>
  
    <div class="form-group">
      <%= form.label :authorization_form_id %>
      <%= form.number_field :authorization_form_id, id: :wish_authorization_form_id, :readonly => true, class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </form>
<% end %>
