<p id="notice"><%= notice %></p>

<p>
  <strong>Expense Type:</strong>
  <%= @wish.expense_type.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @wish.cost %>
</p>

<p>
  <strong>Authorization Form:</strong>
  <%= @wish.authorization_form_id %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
