<%= semantic_form_for trip do |form| %>
  <% if trip.errors.any? %>
    <div class="card">
      <div class="card-header bg-danger text-white">
        <%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:
      </div>
      <div class="card-body">
        <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :trip_destination, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :purpose %>
    <%= form.text_field :purpose, id: :trip_purpose, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date_start %>
    <%= form.text_field :date_start, data:{ provide:'datepicker' }, id: :trip_date_start, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :date_end %>
    <%= form.text_field :date_end, data:{ provide:'datepicker' }, id: :trip_date_end, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :employee_id, :value => @employee_id %>
  </div>
  
  <hr/>
  <div class="requests">
    <%= form.label :requests %>
    <%= form.semantic_fields_for :requests, Request.new do |r| %>
        <%= render 'request_fields', :f => r%>
    <% end %>
    <div class='links'>
      <%= link_to_add_association form, :requests do %>
            <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  <hr/>

  <%= form.fields_for :authorization_form, AuthorizationForm.new do |auth_form| %>
    <div class="field">
      <%= auth_form.hidden_field :employee_id, :value => @employee_id %>
    </div>
    
    <div class="field">
      <%= auth_form.hidden_field :status_id, :value => @status_id %>
    </div>
    
    <div class="wishes">
      <%= auth_form.label :wishes %>
      <%= auth_form.semantic_fields_for :wishes, Wish.new do |wish| %>
        <%= render 'wish_fields', :f => wish%>
      <% end %>
      <div class='links'>
        <%= link_to_add_association auth_form, :wishes do %>
            <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <hr/>

  <div class="actions">
    <%= form.submit :class => "btn btn-primary"%>
  </div>
<% end %>
