<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @employee.department_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @employee.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @employee.lname %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @employee.ssn %>
</p>

<p>
  <strong>Bdate:</strong>
  <%= @employee.bdate %>
</p>

<p>
  <strong>Manager ssn:</strong>
  <%= @employee.manager_ssn %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
