<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-5">
    <!-- Nested Row within Card Body -->
        <div class="p-5">
          <div class="text-center">
            <% flash.each do |key, value| %>
              <% if key == "notice" %>
                <div class="alert alert-info"><%= value.html_safe %></div>
              <% elsif key == "alert" %>
                <div class="alert alert-danger"><%= value.html_safe %></div>
              <% else %>
                <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
              <% end %>
            <% end %>
            <h1 class="h4 text-gray-900 mb-4">Let's create an account</h1>
          </div>
          
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              
              <form class="user">
                <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user" %>
                </div>
              
                <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :fname, "First Name"%><br />
                    <%= f.text_field :fname, autofocus: true, class: "form-control form-control-user" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :lname, "Last Name"%><br />
                    <%= f.text_field :lname, autofocus: true, class: "form-control form-control-user" %>
                </div>

                <div class="form-group">
                    <%= f.label :ssn%><br />
                    <%= f.text_field :ssn, autofocus: true, class: "form-control form-control-user" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :department %>
                  <%= f.collection_select :department_id, Department.order('name ASC'), :id, :name, {id: :employee_department}, {class: "form-control"} %>
                </div>

                <div class="form-group">
                  <%= f.label :bdate, "Birthday"%>
                  <%= f.text_field :bdate, data:{ provide:'datepicker' }, id: :employee_bdate, class: "form-control" %>
                </div>
                
                <div class="actions">
                    <%= f.submit "Sign up", :class => "btn btn-primary btn-user btn-block" %>
                </div>
                
              </form>
            <% end %>
            <br/>
            <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>

  </div>

</div>
