<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login in</title>

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Custom fonts for this template-->

    <%= stylesheet_link_tag :googleapi, "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"%>

    <!-- Custom styles for this template-->
    <%= stylesheet_link_tag "sb-admin-2.min.css" %>
    
    <%= stylesheet_link_tag "custom.css" %>
    
  </head>

<body class="bg-gradient-primary">

    <!-- Begin Page Content -->
    <div class="container">
      <%= render "signup" %>
    </div>
    <!-- /.container-fluid -->

    <!-- Footer -->
      <div class="fixed-bottom">
        <%= render "inc/sb-admin/footer"%>
      </div>
    <!-- End of Footer -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Custom scripts for all pages-->
  <%= javascript_include_tag "sb-admin/sb-admin-2.min.js" %>


</body>

</html>