<%=link_to "Back", manage_authform_pending_path, class: " btn btn-primary" %>

</br></br>

<h2>Authorization Form Request History</h2>

</br>
<% @authforms.each do |authform| %>
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <div class="row container">
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Employee: </br><%= authform.employee.fname + " " +authform.employee.lname%></h6>
          </div>
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Department:</br><%= authform.employee.department.name %></h6>
          </div>
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Submited at:</br> <%= date_formatter(authform.created_at)%></h6>
          </div>
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Form Status: <%= authform.trip.authorization_form.status.name%></h6>
          </div>
          
        </div>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Actions:</div>
          <%= link_to 'Detail', manage_auth_path(authform.trip), class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="row container">
          <div class="col-3">
            <h6 class="m-0 font-weight-bold text-primary">Destination: </br> <%= trip_destination(authform.trip.destination) %></h6>
          </div>

          <div class="col-9">
            <h6 class="m-0 font-weight-bold"><span class="text-primary">Purpose: </span></br> <%= authform.trip.purpose %></h6>
          </div>
        </div>
    </div>
  </div>
<% end %>
