<nav class="navbar navbar-expand-lg navbar-light static-top topbar mb-4 shadow">
  <ul class="nav navbar-nav mr-auto">
    <div class="nav-link">
        <%=link_to "Auth", manage_authform_pending_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(manage_authform_pending_path)}" %>
    </div>
    
    <div class="nav-link">
        <%=link_to "Reimburse", manage_reimform_pending_path, class: " btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(manage_reimform_pending_path)}" %>
    </div>
  </ul>
  
  <div class="nav-link">
      <%=link_to "View History", manage_auth_history_path %>
  </div>
</nav>


<% @authforms.each do |authform| %>
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <div class="row container">
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Destination: <%= trip_destination(authform.trip.destination)%></h6>
          </div>
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Start Date: <%= authform.trip.date_start%></h6>
          </div>
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">End Date: <%= authform.trip.date_end%></h6>
          </div>
          <div class="col">
            <h6 class="m-0 font-weight-bold text-primary">Form Status: <%= authform.trip.authorization_form.status.name%></h6>
          </div>
          
        </div>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Actions:</div>
          <%= link_to 'Detail', manage_auth_path(authform.trip), class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <h6 class="m-0 font-weight-bold text-primary">Purpose: </h6>
      <%= authform.trip.purpose %>
    </div>
  </div>
<% end %>
