<%= link_to 'Back', manage_reimform_pending_path, class: "btn btn-primary" %>

<%= render "manages/inc/payment_manage_info_reimburse_form.html"%>

</br></br>

<div class="row">
  <div class="col-xl-12 col-md-12 mb-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Reimbursement Form Receipt Requests Status</div>
          
          <% if @trip.reimbursement_form.status.name != "Approved"%>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Actions:</div>
                    <%= link_to 'Approve', manage_reimform_update_path(@trip, :status_id => Status.where(name: 'Approved').take.id), data: { confirm: 'You are about to approve this request. Are you sure?' }, method: :put, class: "dropdown-item" %>
                    <%= link_to 'Deny', manage_reimform_update_path(@trip, :status_id => Status.where(name: 'Denied').take.id), data: { confirm: 'You are about to deny this request. Are you sure?' }, method: :put, class: "dropdown-item" %>
                </div>
            </div>
          <%end%>

        </div>
        <!-- Card Body -->
          <div class="card-body">
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @trip.reimbursement_form.status.name%></div>
          </div>
      </div>
  </div>
</div>


</br>

<div class="card border-left-primary shadow h-100 py-2">
  <div class="card-header">
      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Trip and Employee Info</div>
  </div>
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Destination</div>
        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= trip_destination(@trip.destination) %></div>
      </div>
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Departure Date</div>
        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @trip.date_start %></div>
      </div>
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Return Date</div>
        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @trip.date_end %></div>
      </div>
      <div class="col-auto">
        <i class="fas fa-calendar fa-2x text-gray-300"></i>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Purpose</div>
        <div class="h6 mb-0 font-weight-bold text-gray-800"><%= @trip.purpose %></div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">First Name</div>
        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @trip.employee.fname %></div>
      </div>
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Last Name</div>
        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @trip.employee.lname %></div>
      </div>
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Department</div>
        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @trip.employee.department.name %></div>
      </div>
    
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Birthday</div>
        <div class="h6 mb-0 font-weight-bold text-gray-800"><%= @trip.employee.bdate %></div>
      </div>
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Request Amount</div>
         
        <div class="h6 mb-0 font-weight-bold text-gray-800"><%= @receipts_request_total %></div>
    </div>
    </div>
  </div>
</div>

</br>


<div class="row">
  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow h-100 py-2">
      <div class="card-header">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Receipt</div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="table-responsive text-center">
              <table class="table table-borderless">
                <tbody>
                
                  <% @receipts_request.each do |receipts_request| %>
                    <% @receipts = Receipt.where(receipts_request_id: receipts_request.id) %>
                    <thead class="thead-light">
                      <tr >
                        <th align="right">Request from Department Name:</th>
                        <th ><%= receipts_request.department.name%></th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <thead class="thead-light">
                      <tr>
                        <th>Type</th>
                        <th>Cost</th>
                        <th>Location</th>
                        <th>Receipt Date</th>
                        <th colspan="1"></th>
                      </tr>
                    </thead>
                    <% @each_receipts_amount = 0%>
                    <% @receipts.each do |receipt| %>
                      <tr>
                        <%@each_receipts_amount += receipt.cost%>
                        <td><%= receipt.expense_type.name %></td>
                        <td><%= number_to_currency receipt.cost %></td>
                        <td><%= receipt.location %></td>
                        <td><%= receipt.receipt_date %></td>
                        <td>
                        </td>
                      </tr>
                    <%end%>
                      <thead class="thead-dark">
                      <tr >
                        <th align="right">Total Cost:</th>
                        <% @nonono = @each_receipts_amount - receipts_request.total_amount %>
                                           
                        <% if @nonono > 0%>
                          <th><% receipts_request.update_attribute(:total_amount, @each_receipts_amount)%></th>
                        <%end%>
                        <th ><%= receipts_request.total_amount%></th>
                        <th colspan="3"></th>
                      </tr>
                      </thead>
                      <thead>
                        <tr>
                          <th>
                            
                          </th>
                          <th>
                            
                          </th>
                        </tr>
                      </thead>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gift fa-2x text-gray-300"></i>
          </div>
        </div>
        </br>
      </div>
    </div>
  </div>
</div>