<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @notification.status_id %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @notification.trip_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
