<h1>Departments</h1>

<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total budget</th>
        <th>Manager ssn</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.name %></td>
          <td><%= department.total_budget %></td>
          <td><%= department.manager_ssn %></td>
          <td><%= link_to 'Show', department %></td>
          <td><%= link_to 'Edit', edit_department_path(department) %></td>
          <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Department', new_department_path %>
