<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Total budget:</strong>
  <%= @department.total_budget %>
</p>

<p>
  <strong>Manager ssn:</strong>
  <%= @department.manager_ssn %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
