<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div class="card">
      <div class="card-header bg-danger text-white">
        <%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:
      </div>
      <div class="card-body">
        <ul>
        <% request.errors.full_messages.each do |message| %>
          <li class="card-text"><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <form>
    <div class="form-group">
      <%= form.label :trip_id %>
      <%= form.number_field :trip_id, id: :request_trip_id, :readonly => true, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :department %>
      <%= form.collection_select :department_id, Department.order('name ASC'), :id, :name, {id: :request_department}, {class: "form-control"} %>
    </div>
  
    <div class="form-group">
      <%= form.label :amount %>
      <%= form.text_field :amount, id: :request_amount, class: "form-control" %>
    </div>

  
    <div class="actions">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </form>
<% end %>
