
<div class="nav-link">
    <%=link_to "Wishes", wishes_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(wishes_path)}" %>
</div>



<div class="nav-link">
    <%=link_to "Requests", requests_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(requests_path)}" %>
</div>



<div class="nav-link">
        <%=link_to "Dptments", departments_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(departments_path)}" %>
</div>



<div class="nav-link">
    <%=link_to "Types", expense_types_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(expense_types_path)}" %>
</div>



<div class="nav-link">
    <%=link_to "Statuses", statuses_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(statuses_path)}" %>
</div>
