<%= semantic_form_for reimbursement_form do |form| %>
  <% if reimbursement_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reimbursement_form.errors.count, "error") %> prohibited this reimbursement_form from being saved:</h2>

      <ul>
      <% reimbursement_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
      <%=form.hidden_field :status_id, :value => @status_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :employee_id, :value => current_employee.id %>
  </div>


  <div class="field">
    <%= form.hidden_field :trip_id, :value => @trip.id%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
