<%= semantic_form_for @reimbursement_form do |form| %>

    <% if @reimbursement_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reimbursement_form.errors.count, "error") %> prohibited this reimbursement_form from being saved:</h2>
    
          <ul>
          <% @reimbursement_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
      
      
      <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow h-100 py-2">
      <div class="card-header">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Requests</div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="table-responsive text-center">
              <table class="table table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th>Department</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th colspan="1"></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @request.each do |request| %>
                    <tr>
                      <td><%= request.department.name %></td>
                      <td><%= number_to_currency request.amount %></td>
                      <td><%= request.status.name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
      <br>
      
    <div class="receipts_request">
        <%= form.label :receipts_request %>
        <%= form.semantic_fields_for :receipts_request, ReceiptsRequest.new do |receipt_reqest| %>
          <%= render 'receipts_request_fields', :f => receipt_reqest%>
        <% end %>
        <div class='links'>
          <%= link_to_add_association form, :receipts_request do %>
              <i class="fas fa-plus-circle"></i>
          <% end %>
        </div>
    </div>
    

    
    
  <div class="actions">
    <%= form.submit %>
  </div>
  
<%end%>