<%= content_tag :div,
            id: 'reimbursement_form' do %>
    <%= javascript_pack_tag 'reimbursement_form' %>
<% end %>
    



<p id="notice"><%= notice %></p>

<!--<p id="notice"><%= notice %></p>-->

<!--<h1>Authorization Forms</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Status</th>-->
<!--      <th>Employee</th>-->
<!--      <th>Trip</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @reimbursement_forms.each do |reimbursement_form| %>-->
<!--      <tr>-->
<!--        <td><%= reimbursement_form.status_id %></td>-->
<!--        <td><%= reimbursement_form.employee_id %></td>-->
<!--        <td><%= reimbursement_form.trip_id %></td>-->
<!--        <td><%= link_to 'Show', reimbursement_form %></td>-->
<!--        <td><%= link_to 'Edit', edit_reimbursement_form_path(reimbursement_form) %></td>-->
<!--        <td><%= link_to 'Destroy', reimbursement_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Authorization Form', new_reimbursement_form_path %>-->