<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @reimbursement_form.status_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @reimbursement_form.employee_id %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @reimbursement_form.trip_id %>
</p>

<%= link_to 'Edit', edit_reimbursement_form_path(@reimbursement_form) %> |
<%= link_to 'Back', reimbursement_forms_path %>
