<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
        <!-- Nav Item - Alerts -->
        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Colors", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(employees_path)}" %>
            </div>
        </li>
        
        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Species", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(employees_path)}" %>
            </div>
        </li>
        
        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Types", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(employees_path)}" %>
            </div>
        </li>
        
        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Statuses", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn #{current_class?(employees_path)}" %>
            </div>
        </li>
    </ul>
    
    <ul class=" nav navbar-nav ml-auto">
        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Settings", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn" %>
            </div>
        </li>

        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Notification", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn", method: :delete %>
            </div>
        </li>
        
        <li class="nav-item pr-5">
            <div class="nav-link">
                <%=link_to "Sign Out", employees_path, class: "btn btn-outline-primary btn-rounded waves-effect nav-btn", method: :delete %>
            </div>
        </li>
    </ul>
</div>