<p id="notice"><%= notice %></p>

<h1>Authorization Forms</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Employee</th>
      <th>Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorization_forms.each do |authorization_form| %>
      <tr>
        <td><%= authorization_form.status_id %></td>
        <td><%= authorization_form.employee_id %></td>
        <td><%= authorization_form.trip_id %></td>
        <td><%= link_to 'Show', authorization_form %></td>
        <td><%= link_to 'Edit', edit_authorization_form_path(authorization_form) %></td>
        <td><%= link_to 'Destroy', authorization_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorization Form', new_authorization_form_path %>
