<%= form_with(model: receipt, local: true) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= form.label :expense_type %>
      <%= form.collection_select :expense_type_id, ExpenseType.order('name ASC'), :id, :name, {id: :wish_expense_type}, {class: "form-control"} %>
    </div>
  
    <div class="form-group">
      <%= form.label :image_url %>
      <%= form.file_field :image, id: :receipt_image %>
    </div>
        
  
    <div class="form-group">
      <%= form.label :cost %>
      <%= form.number_field :cost, id: :receipt_cost, class: "form-control"%>
    </div>
    
     <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, id: :receipt_location, class: "form-control" %>
      </div>
    
    <div class="form-group">
      <%= form.label :receipt_date %>
      <%= form.text_field :receipt_date, data:{ provide:'datepicker' }, id: :receipt_receipt_date, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.hidden_field :reimbursement_form_id, id: :receipt_reimbursement_form_id, :readonly => true, class: "form-control" %>
    </div>
    
    <div class="actions">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </form>
<% end %>
