<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@receipt.image) %>
</p>

<p>
  <strong>Reimbursement form:</strong>
  <%= @receipt.reimbursement_form_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @receipt.location %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @receipt.cost %>
</p>

<p>
  <strong>Receipt date:</strong>
  <%= @receipt.receipt_date %>
</p>

<p>
  <strong>Expense type:</strong>
  <%= @receipt.expense_type_id %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
